.weather-container {
    background-color: rgba(146, 144, 144, 0.482);
    border-radius: 10px;
    
    h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

.weather-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.wheather-item {
    text-align: center;
    background-color: rgba(131, 129, 129, 0.708);
    border-radius: 10px;
    padding: 10px;
}

.forecast-day, .forecast-description {
    text-transform: capitalize;
    font-size: 1.1rem;

}
